<h2>用户登录</h2>
<form action="/process?form=login" method="POST">

	<div>
		<label for="name">
			<span>用户名:</span>
			<input type="text" name="name" id="name">
		</label>
	</div>

	<div>
		<label for="email">
			<span>邮箱:</span>
			<input type="email" name="email" id="email">
		</label>
	</div>

	<div>
		<input type="submit" value="登录">
	</div>

</form>