<h2>用户注册</h2>
<form action="/process?form=signup" method="POST">

	<div>
		<label for="name">
			<span>用户名:</span>
			<input type="text" name="name" id="name">
		</label>
	</div>

	<div>
		<label for="email">
			<span>邮箱:</span>
			<input type="email" name="email" id="email">
		</label>
	</div>

	<div>
		<label for="code">
			<span>验证码: {{code}}</span>
			<input type="text" name="code" id="code">
		</label>
	</div>

	<div>
		<input type="submit" value="注册">
	</div>

</form>